@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Red Hat Display', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: black;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}



.home{
    display: block;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: white;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: white;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: black;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25 px solid black;
    cursor: pointer;
    transition: 0.2s linear;
}

.sisyphus-sprite {
    width: 64px;        
    height: 64px;       
    
    background-image: url('assets/Sisyphus animation.png');
    background-size: 320px 64px;
    background-position: 0px 0px;
    
    animation: sisyphusPush 1s steps(5);
    animation-timeline: scroll();
    animation-range: 0% 100%;

    
}

@keyframes sisyphusPush {
    from {
        background-position: 0px 0px;   
    }
    to {
        background-position: -320px 0px; /* End at frame 5 */
    }
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.socials {
    display: flex; 
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
    transition: 0.3s ease;
}

.socials-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.socials-btn a:hover{
    color: black;
    transform: scale(1.05);
    box-shadow: 0 0 1px black;
}

.btn{
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: white;
    border-radius: 1rem;
    font-size: 1.6 rem;
    color: black;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid black;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: antiquewhite;
    color: black;
    box-shadow: 0 0 1px black;
}

.contact{
    padding-top: 3rem;
    display: block;
    justify-content: center;
    align-items: center;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

@media (max-width:1000px) {
    .home{
        gap: 4rem;

    }    
} 

@media (max-width:995px) {
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home-img img{
        margin-top: 4rem;
    }
    
}